


html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}



/* CSS Variables */

:root{
    --primary-color: #4458dc;
    --primary-color2:  #4cb993;
    --title-color:  #0b0c0b;
    --text-color: #2f3130;
    --border-color:  #cac1a5;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #4cd993 100%);
    --shadow-color: 0px 10px 30px rgba(120,80,220,0.3);
    --box-shadow: 0px 10px 30px rgba(55, 55, 60, 0.200);



    /* font family variabels */
    --Anybody: 'Anybody', cursive;
}